.club-name{
  color:#979595;
  display: block;
  width: 100%;
  padding: 0 0 10px 0;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  outline: none;
  background-color: transparent;
}
